---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<div style="width: 100%; max-width: 800px; margin: 0 auto;">
<h1 class="smallcaps">Articles tagged <em>{{ tag }}</em></h1>

{% set index = collections[ tag ] %}
{% include "components/article-index.njk" %}
</div>
{# <nav>
  <a href="{{ '/articles/' | url }}">← Articles index</a>
</nav> #}
