:root {
  --white: #FDFDFE;
  --silver: hsl(246, 90%, 75%);
  --orange: #FF9C32;
  --pink: #FF3299;
  --hot-pink: var(--pink);
  --purple: hsl(263, 90%, 50%);
  --mint: #0CEBC3;
  --normal-link: var(--mint);
  --active-link: var(--mint);
  --heading: hsl(258, 83%, 15%);
  --text: hsl(258, 35%, 35%);
  --background: white;
  --logo-size: 3rem;
  --viewport-padding: 1rem;
  --radius: 6px;
  --transition: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

::selection {
  background-color: var(--hot-pink);
  color: var(--white);
}

*,
*:after,
*:before {
  margin-top: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
.main-menu {
 background: var(--background) url("data:image/svg+xml,%3Csvg viewBox='0 0 574 521' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cg opacity='.1'%3E%3Cpath d='M111.567-373.475l462.433 462.433-432.042 432.042-462.433-462.433 432.042-432.042z' fill='url(%23a)'/%3E%3Cpath d='M70.957-242.865l462.269 462.269-271.529 271.529-462.269-462.269 271.529-271.529z' fill='url(%23b)'/%3E%3Cpath d='M-13.188-167.719l523.259 523.259-102.531 102.53-523.259-523.259 102.531-102.53z' fill='url(%23c)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='a' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(462.433 462.433 -462.433 462.433 -104.454 -157.454)'%3E%3Cstop offset='0' stop-color='%239185f8' stop-opacity='.3'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(462.269 462.269 -462.269 462.269 -15797.6 15625.7)'%3E%3Cstop offset='0' stop-color='%239185f8' stop-opacity='.698'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(523.259 523.259 -523.259 523.259 -32993.1 32812.2)'%3E%3Cstop offset='0' stop-color='%239185f8'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") left top / cover no-repeat fixed;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  color: var(--text);
  grid-template-rows: auto 1fr auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font: 400 1.5rem/1.4 'TT Commons', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

@keyframes jiggle {
  25% {
    transform: scale(0.925, 1.075);
  }

  50% {
    transform: scale(1.075, 0.925);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Move dat Netlify button outta the way */
[href*='https://app.netlify.com'] {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Universal links */
[href],
[href]:visited {
  transition: .5s var(--transition);
  text-decoration: none;
  color: var(--purple);
  /* color: var(--mint); */
}

[href]:hover,
[href]:focus,
[href]:active {
  color: var(--pink);
  /* color: var(--mint); */
}

/* Underlined links */
[href].underline,
[href].underline:visited {
  position: relative;
}

[href].underline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, var(--pink), transparent);
  transition: .5s var(--transition);
  transform-origin: 0% 100%;
  transform: scaleX(0);
  opacity: .25;
}

[href].underline:hover,
[href].underline:focus,
[href].underline:active {
  /* color: var(--purple); */
}


[href].underline:hover:after,
[href].underline:focus:after,
[href].underline:active:after,
[href].underline[data-current*='current item']:after,
[data-current='article'] [href].underline[href='/articles/']:after {
  opacity: .75;
  transform: scaleX(1);
}

.gradient {
  background-image: linear-gradient(to right, var(--mint), var(--purple), var(--hot-pink), var(--purple), var(--mint), var(--purple), var(--hot-pink), var(--purple));
  background-size: 400% 400%;
  animation: gradient-transition 60s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-transition {
	0%   { background-position: 0% 50%;   }
	50%  { background-position: 100% 50%; }
	100% { background-position: 0% 50%;   }
}

hr.squiggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23FF469C' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  display: block;
  border: none;
  height: 5px;
  margin: 40px auto;
  width: 50%;
}

/* Currently active link item */
[href][data-current='current item'],
[data-current='article'] .underline[href='/articles/'] {
  color: var(--pink);
}

/* Jiggly links */
.jiggle {
  display: inline-flex;
}

.jiggle[href]:hover,
.jiggle[href]:focus,
.jiggle[href]:active {
  animation: jiggle 0.6s linear alternate;
}

.subtle-jiggle[href]:hover,
.subtle-jiggle[href]:focus,
.subtle-jiggle[href]:active {
  animation: subtle-jiggle 0.6s linear alternate;
}

.chevron:after {
  content: '';
  width: .35em;
  height: .35em;
  display: inline-flex;
  border: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translate(.35em, .175em);
  margin-right: .5em;
}

@keyframes subtle-jiggle {
  25% {
    transform: scale(0.975, 1.025);
  }

  50% {
    transform: scale(1.025, 0.975);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.supersized-heading {
  margin: 0 auto;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .supersized-heading {
    font-size: calc(2.375rem + 1.625 * ((100vw - 37.5rem) / 37.5));
  }
}

@media screen and (min-width: 1200px) {
  .supersized-heading {
    font-size: 4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Recoleta';
  line-height: 1.125;
  color: var(--heading);
  margin-bottom: 1rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 3rem;
}

/* 
|=====================================
| Headings
|-------------------------------------
*/

/* 1.15 modular scale - https://www.modularscale.com/?22&&1.15 */
h1 {
  font-size: 2.313em;
}

h2 {
  font-size: 2.011em;
}

h3 {
  font-size: 1.749em;
}

h4 {
  font-size: 1.521em;
}

h5 {
  font-size: 1.322em;
}

h6 {
  font-size: 1.15em;
}

main {
  width: 100%;
  max-width: 1440px;
  justify-self: center;
  padding-left: calc(var(--viewport-padding) * 6 + var(--logo-size));
}

body > footer {
  font-size: .75rem;
  text-align: center;
  padding: 0 calc(var(--viewport-padding) * 2) var(--viewport-padding) var(--viewport-padding);
}

main {
  padding: 
    calc(var(--viewport-padding) * 6 + var(--logo-size)) 
    8rem;
  display: grid;
  align-items: center;
  align-content: center;
}


/* 
|==========================================================================
| Mobile menu
|-------------------------------------------------------------------------- 
*/

[role=banner] {
  z-index: 25;
}

/* Small screens */
@media (max-width: 820px) {

  .menu-toggle {
    z-index: 4;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: auto;
    margin-right: -8px;
    border-radius: var(--round-lg);
    color: inherit;
    border: 1px solid transparent;
    transition: var(--speed-medium);
  }

  .menu-open .menu-toggle,
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: inherit;
    border-color: color-mod(var(--white) alpha(25%));
  }

  [role=banner] {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 12;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    transform: translate(-50%, -9999px);
  }

  [role=banner]:after {
    content: '';
    position: fixed;
    left: 0;
    top: -9999px;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  /* Prevent body from scrolling */
  .menu-open {
    overflow: hidden;
  }

  /* Main navigation */
  .menu-open .main-menu {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .menu-open [role=banner]:after {
    top: 0;
    background: color-mod(var(--black) alpha(95%));
  }
}

/* Large screens */
@media (min-width: 821px) {
  .menu-toggle {
    display: none;
  }
}

.screenreader-only {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.logo {
  position: fixed;
  top: calc(var(--viewport-padding) - 5px);
  left: var(--viewport-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--logo-size);
  height: var(--logo-size);
  padding: 10px 5px 5px 5px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0deg);
  transform-origin: 50%;
  transition: .5s;
  z-index: 1;
}

.logo svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.logo:hover,
.logo:focus,
.logo:active {
  transform: rotate(360deg);
}

.main-menu {
  display: flex;
  height: calc(var(--logo-size) + var(--viewport-padding) * 2 - 10px);
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 
    calc(var(--viewport-padding) + 5px) 
    2rem
    calc(var(--viewport-padding) + 5px) 
    var(--viewport-padding);
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-indent: .05em;
}

.main-menu a {
  margin: 0 0 0 1.75rem;
}

.social-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: var(--logo-size);
  height: calc(100% - var(--logo-size) - var(--viewport-padding) * 2);
  align-items: center;
  justify-content: flex-end;
  bottom: calc(var(--viewport-padding) * 2 - .375rem);
}

.social-nav a {
  padding: .75rem;
}

@media (max-width: 800px) {
  .social-nav {
    display: none;
  }

  main {
    padding: calc(var(--viewport-padding) * 6 + var(--logo-size)) 4rem;
  }

  body > footer {
    text-align: left;
  }
}

[href].quick-contact {
  position: fixed;
  bottom: -35px;
  right: calc(var(--viewport-padding) - 90px);
  transform: translate3e(0, 0, 0);
  display: flex;
  flex-direction: column;
  transition: .5s var(--transition);
}

[href].quick-contact:hover,
[href].quick-contact:focus,
[href].quick-contact:active {
  transform: translate3d(0, -35px, 0);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  padding: 1px 18px 0 18px;
  color: #fff;
  border-radius: 50px;
  background: var(--purple);
  transform: rotate(-90deg) translate(-14px, 7px);
  transform-origin: left top;
  transition: .5s var(--transition);
}

.contact-info:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 36px;
  left: 5px;
  bottom: -10px;
  transform: rotate(90deg);
  background: inherit;
  border-radius: 0 0 20px 0;
  z-index: -1;
}

.duotone {
  position: relative;
  width: var(--logo-size);
  margin: 0;
  vertical-align: bottom;
}

.duotone-avatar {
  mix-blend-mode: screen;
}

.duotone-underlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--purple);
  transition: .5s var(--transition);
  z-index: -1;
}

.quick-contact:hover .contact-info,
.quick-contact:focus .contact-info,
.quick-contact:active .contact-info,
.quick-contact:hover .duotone-underlay,
.quick-contact:focus .duotone-underlay,
.quick-contact:active .duotone-underlay {
  background: var(--pink);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media (max-width: 800px) {

  .quick-contact {
    display: none;
    right: calc(50% - 50px);
  }

  main {
    padding: calc(var(--viewport-padding) * 6 + var(--logo-size)) 4rem;
  }
}

.excerpt {
  display: flex;
  height: 100%;
}

.keep-reading {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: center; */
  height: 100%;
  width: 100%;
}

.keep-reading div {
  transform: translateZ(0) scale(1);
  transition: .6s var(--transition);
}

/* .keep-reading h2 */
.keep-reading time {
  color: var(--heading);
}

.keep-reading p {
  color: var(--text);
}

.keep-reading:hover div,
.keep-reading:focus div,
.keep-reading:active div {
  color: rgba(44, 74, 87, .25);
  opacity: .15;
  transform: translateZ(0) scale(.8);
}

.keep-reading:after {
  content: 'Keep\00a0reading\00a0\00a0\2192';
  position: absolute;
  opacity: 0;
  line-height: 1;
  text-transform: uppercase;
  font-size: .8125rem;
  padding: 1rem 1.375rem .825rem;
  border-radius: 3rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-indent: .1em;
  color: var(--white);
  background: var(--pink);
  font-weight: 700;
  transform: translate3d(-50%, -50%, 0) scale(.25);
  transition: .6s var(--transition);
  transform-origin: center center;
  left: 50%;
  top: 50%;
}

.keep-reading:hover:after,
.keep-reading:focus:after,
.keep-reading:active:after {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

[data-current='about'] article,
[data-current='article'] article,
[data-current='articles'] article,
[data-current='contact'] article,
[data-current='services'] article {
  width: 100%;
  max-width: 45rem;
  justify-self: center;
}

.button {
  display: inline-flex;
  padding: 1.125rem 1.5rem 1rem;
  border-radius: 2rem;
  background: linear-gradient(var(--hot-pink),var(--purple));
  line-height: 1;
  text-transform: uppercase;
  font-size: .8125rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-indent: .05em;
}

.button:focus,
.button:hover,
.button:active {
  color: white;
}

/* Articles list */
[data-current='articles'] main {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(23rem, 1fr));
  gap: 6rem;
  align-items: start;
  font-size: 1.2rem;
}

/* Timestamps */
[data-current='articles'] time {
  display: flex;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .125em;
  text-indent: .0625em;
  margin-bottom: auto;
}

a[rel="tag"]:hover {
  /* border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white); */
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: inherit;
}

input,
textarea {
  border: 0;
  padding: .5em .75em;
  background: var(--text);
  border-radius: var(--radius);
}

textarea {
  height: 200px;
}

button {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: .9rem;
  }
}

[type=submit] {
  display: inline-flex;
  justify-content: center;
  padding: 10px; 
  background: var(--hot-pink);
  border-radius: var(--radius);
}