:root {
  /* --yellow: hsl(45, 100%, 60%); */
  --yellow: hsl(43, 100%, 75%);
  --primary-text-color: hsl(225, 35%, 30%);
  --light-text-color: hsl(225, 25%, 60%);
  --viewport-padding: 16px;
  --radius: 6px;
  --transition: cubic-bezier(0.190, 1.000, 0.220, 1.000);

  --sidebar: 70px;
  --logo: 55px;

  --golden-lg: 61.8%;
  --golden-sm: 38.2%;

  --action-color: hsl(340, 75%, 50%);
  /* --action-color: hsl(225, 90%, 60%); */
  /* --yellow: hsla(225, 100%, 85%, .5); */
}

::selection {
  background-color: var(--action-color);
  color: white;
}

*,
*:after,
*:before {
  margin-top: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font: 400 22px/1.5 'TT Commons', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  background: none;
  display: inline;
  color: inherit;
  font: inherit;
  padding: 0;
  border: 0;
}

/* Move dat Netlify button outta the way */
[href*='https://app.netlify.com'] {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Universal links */
[href],
[href]:visited {
  transition: .5s var(--transition);
  text-decoration: none;
  color: var(--action-color);
}

[href]:hover,
[href]:focus,
[href]:active {
  color: var(--primary-text-color);
}


hr.squiggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23ff3355' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  display: block;
  border: none;
  width: 50%;
  height: 5px;
  margin: 96px auto;
  background-size: 25px 5px;
  background-position: 0 0;
  opacity: .5;
  animation: squiggle 2s linear infinite;
}

/* Currently active link item */
/* [href][data-current='current item'],
[data-current='article'] [href='/articles/'] {
  color: var(--action-color);
} */

.main-menu [href][data-current],
[data-current='article'] .main-menu [href]:first-of-type {
  color: var(--action-color);
}

.main-menu [href][data-current]:after,
[data-current='article'] .main-menu [href]:first-of-type:after {
  opacity: .75;
  transform: scaleX(1);
}

/* Jiggly links */
.jiggle {
  display: inline-flex;
}

.jiggle[href]:hover,
.jiggle[href]:focus,
.jiggle[href]:active {
  animation: jiggle 0.6s linear alternate;
}

.chevron:after {
  content: '';
  width: .5em;
  height: .5em;
  display: inline-flex;
  border: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translate(.65em, .5em);
  margin-right: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ten Oldstyle', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.25;
  margin-bottom: 16px;
  letter-spacing: -.01em;
  word-spacing: .02em;
}

article header {
  text-align: center;
  margin-bottom: 100px;
}

article header h1 {
  font-size: 3.247em;
  margin-bottom: 10px;
}

.full-page-article > h1:first-child {
  font-size: 2.566em;
  margin-bottom: 48px;
}

.full-page-article {
  max-width: calc(750px + 14vw);
  margin: 0 auto;
  padding: 0 7vw;
}

.full-page-article .publication-date {
  color: var(--light-text-color);
  text-transform: uppercase;
  letter-spacing: .125em;
  text-indent: .0625em;
  font-weight: 700;
  font-size: 15px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 48px;
}

/* 
|=====================================
| Headings
|-------------------------------------
*/

/* 1.125 modular scale - https://www.modularscale.com/?22&&1.125 */
h1 {
  font-size: 2.027em;
}

h2 {
  font-size: 1.802em;
}

h3 {
  font-size: 1.602em;
}

h4 {
  font-size: 1.424em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: 150px 0;
  transition: .5s var(--transition);
}

body > footer {
  font-size: 13px;
  text-align: center;
  padding: 0 calc(var(--viewport-padding) * 2) var(--viewport-padding) var(--viewport-padding);
}

/* 
|==========================================================================
| Mobile menu
|-------------------------------------------------------------------------- 
*/

.screenreader-only {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.main-header {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  /* padding: 14px 24px 14px 14px; */
  padding: 14px 24px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 5px;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  color: var(--action-color);
  transform: rotate(26deg);
  transform-origin: 50%;
  transition: .5s var(--transition);
  z-index: 2;
}

.logo svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.logo .outline {
  fill: var(--primary-text-color);
  /* fill: var(--action-color); */
}

.logo .fill {
  fill: white;
}

.logo .background {
  fill: var(--action-color);
}

.logo:hover,
.logo:focus,
.logo:active {
  color: var(--action-color);
  transform: rotate(0deg);
}

.menu-button {
  display: none;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu [href] {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  margin-left: 15px;
  padding: 2px 8px 1px;
  color: inherit;
}

.main-menu [href]:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsla(340, 75%, 50%, .25);
  border-radius: 6px;
  transform: scale(.5);
  transition: .5s var(--transition);
  z-index: -1;
  opacity: 0;
}

.main-menu [href]:hover:after {
  opacity: 1;
  transform: scale(1);
}

.main-menu [href]:last-of-type {
  padding: 6px;
}

.main-menu [href]:hover {
  color: var(--action-color);
  animation: small-jiggle 0.6s linear alternate;
}

/* [href][data-current] { */
  /* color: white; */
  /* background: var(--action-color); */
  /* border-radius: 6px; */
  /* pointer-events: none; */
/* } */

@media (max-width: 800px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: calc(var(--viewport-padding) * 1.5) 70px;
    background: hsl(255, 80%, 15%);
    transition: .5s var(--transition);
    transform: translate3d(-30px, 30px, 0) scale(0, 0);
    transform-origin: 100% 0;
    border-radius: 1000px 0 1000px 1000px;
  }
  
  .menu-open .main-menu {
    border-radius: 0;
    transform: translate3d(0,0,0) scale(1, 1);
  }
  
  .main-menu > [href] {
    font-size: 22px;
    font-weight: 700;
  }
  
  .menu-button {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    color: var(--action-color);
    top: var(--viewport-padding);
    right: calc(var(--sidebar)/ 2 - 20px);
    width: 40px;
    height: 32px;
    transform: scale(.5);
    transition: .2s color;
    z-index: 2;
  }
  
  .menu-button:hover {
    animation: menu-jiggle 0.6s linear alternate;
  }
  
  .menu-button:hover,
  .menu-button:focus {
    color: var(--action-color);
  }
  
  .menu-button:before,
  .menu-button span,
  .menu-button:after {
    height: 6px;
    background: currentColor;
    border-radius: 16px;
  }
  
  .menu-button:before {
    content: '';
    width: 40px;
    transition: .2s background;
  }
  
  .menu-button span {
    width: 80%;
    transform: translate3d(25%, 0, 0);
    transition: 
      .2s background,
      .2s .2s transform;
  }
  
  .menu-button:after {
    content: '';
    width: 60%;
    transform: translate3d(65%, 0, 0);
    transition: 
      .2s background,
      .2s .4s transform;
  }
  
  .menu-open .menu-button span,
  .menu-open .menu-button:after {
    transform: translate3d(0, 0, 0);
  }
}

.social-nav [href] {
  padding: 10px;
  border-radius: 14px;
  color: var(--action-color);
}

.social-nav [href]:hover {
  background: var(--yellow);
  /* animation: small-jiggle 0.6s linear alternate; */
}


/* 
body:not(.menu-open) .main-menu a {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
} */
/* 
.social-nav {
  position: fixed;
  left: calc(var(--sidebar) / 2 - 20px);
  bottom: var(--viewport-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  z-index: 1;
}

.social-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-nav a,
.social-nav a:visited {
  color: var(--chrome-color);
}

.social-nav a:hover,
.social-nav a:focus,
.social-nav a:active {
  color: var(--action-color);
}

@media (max-width: 800px) {
  .social-nav {
    display: none;
  }

  body > footer {
    text-align: left;
  }
} */

[href].quick-contact {
  position: fixed;
  bottom: -35px;
  right: 15px;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 40px;
  transition: .5s var(--transition);
  z-index: 2;
}

[href].quick-contact:hover,
[href].quick-contact:focus,
[href].quick-contact:active {
  transform: translate3d(0, -35px, 0);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 165px;
  height: 32px;
  right: 4px;
  padding: 1px 18px 0 18px;
  color: #fff;
  border-radius: 50px;
  background: var(--chrome-color);
  transform: rotate(-90deg) translate(-14px, 8px);
  transform-origin: left top;
  transition: .5s var(--transition);
}

.contact-info:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 36px;
  left: 5px;
  bottom: -10px;
  transform: rotate(90deg);
  background: inherit;
  border-radius: 0 0 20px 0;
  z-index: -1;
}

.duotone {
  position: relative;
  margin: 0;
  vertical-align: bottom;
}

.duotone-purple {
  opacity: 1;
  transition: .5s var(--transition) opacity;
}

.duotone-pink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s var(--transition) opacity;
}

.quick-contact:hover .duotone-purple,
.quick-contact:focus .duotone-purple,
.quick-contact:active .duotone-purple {
  opacity: 0;
}

.quick-contact:hover .duotone-pink,
.quick-contact:focus .duotone-pink,
.quick-contact:active .duotone-pink {
  opacity: 1;
}

.quick-contact:hover .contact-info,
.quick-contact:focus .contact-info,
.quick-contact:active .contact-info {
  background: var(--action-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media (max-width: 800px) {

  .quick-contact {
    display: none;
    right: calc(50% - 50px);
  }
}

.excerpt {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 80px;
  font-size: 20px;
}

.excerpt .article {
  transform: translateZ(0) scale(1);
  transform-origin: 0 50%;
  transition: .6s var(--transition);
}

 .excerpt:hover .article,
 .excerpt:focus .article,
.excerpt:active .article {
  opacity: .125;
  transform: translateZ(0) scale(.75);
}

.excerpt .heading {
  font-size: 1.8em;
  margin-bottom: 12px;
  color: var(--action-color);
  transition: .5s var(--transition);
}

 .excerpt:hover .heading,
 .excerpt:focus .heading,
.excerpt:active .heading {
  color: var(--primary-text-color);
}

.excerpt .summary {
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

/* Timestamps */
.excerpt .publication-date {
  color: var(--light-text-color);
  display: flex;
  white-space: pre-wrap;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .125em;
  text-indent: .0625em;
  margin-bottom: auto;
}

/* Keep reading indicator */
.excerpt:after {
  content: 'Keep reading \2192';
  /* background-color: var(--yellow); */
  /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 23' xmlns='http://www.w3.org/2000/svg' fill='%23f20d59'%3E%3Cpath d='M11.737 19.376a.39.39 0 01.293.574 54.262 54.262 0 01-2.013 2.781.39.39 0 01-.579 0 54.262 54.262 0 01-2.013-2.781.39.39 0 01.293-.574 62.622 62.622 0 014.019 0zm-.759.749H8.477l1.251 1.728 1.25-1.728zM4.528.001a.254.254 0 01.039 0c1.916 0 3.69.619 5.189 1.686C11.255.62 13.028.001 14.945.001c.95 0 1.763.153 2.621.434.17.056.286.217.285.396v10.795a.416.416 0 01-.545.394c-.798-.262-1.499-.396-2.361-.396a8.016 8.016 0 00-3.846.96c.98-.32 2.154-.543 3.425-.544h.006c1.414-.011 2.81.376 4.151 1.005V3.316c0-.228.188-.416.416-.416.228 0 .415.188.415.416l-.001.006V13.7a.416.416 0 01-.609.363c-1.435-.762-2.91-1.205-4.365-1.193h-.007c-1.768 0-3.386.465-4.372.985a.43.43 0 01-.194.053h-.416a.424.424 0 01-.194-.053c-.985-.519-2.604-.979-4.372-.979h-.006c-1.457-.011-2.932.431-4.366 1.194a.417.417 0 01-.61-.364V3.328a.416.416 0 01.221-.37c.471-.251.954-.47 1.44-.655V.831a.416.416 0 01.285-.396C2.889.126 4.528.001 4.528.001zM1.661 3.205c-.277.12-.556.249-.831.389v9.457c1.341-.628 2.738-1.015 4.152-1.005h.006c1.281 0 2.466.222 3.451.545a8.036 8.036 0 00-3.872-.967c-.863 0-1.563.128-2.361.389a.417.417 0 01-.545-.389V3.205zM14.945.831c-1.772 0-3.385.59-4.774 1.602v9.762a8.845 8.845 0 014.774-1.401c.748 0 1.41.121 2.076.298V1.155c-.682-.201-1.32-.324-2.076-.324zm-10.378 0c-.062.006-1.303.138-2.076.331v9.93c.667-.177 1.328-.298 2.076-.298 1.738 0 3.363.481 4.774 1.369V2.42C7.953 1.41 6.337.831 4.567.831z' /%3E%3C/svg%3E%0A"); */
  /* background-size: 36px auto; */
  /* background-repeat: no-repeat; */
  /* background-position: center 20px; */
  /* width: 75px; */
  /* height: 75px; */
  color: var(--action-color);
  height: 30px;
  line-height: 30px;
    /* padding: 5px 10px; */
  /* border-radius: 6px; */
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  font-size: 18px;
  /* color: var(--action-color); */
  font-weight: 700;
  transform: scale(.25) translate3d(-150px, 0, 0);
  transition: .6s var(--transition);
  opacity: 0;
}

.excerpt:hover:after,
.excerpt:focus:after,
.excerpt:active:after {
  opacity: 1;
  transform: scale(1) translate3d(0, 0, 0);
}

.button {
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 1.4em 1.8em 1em 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  margin-right: 8px;
  background: var(--chrome-color);
}

.button:focus,
.button:hover,
.button:active,
.button:visited {
  color: white;
}

/* Article index */
.article-index {
  width: var(--golden-lg);
  margin-left: auto;
  padding: 0 100px;
}

@media (max-width: 1440px) {
  .article-index {
    padding: 0 7vw;
  }
}

.background-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--golden-sm);
  height: 100%;
  margin: 0;
}

.background-image {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
}

/* Tag links */
[href][rel='tag'] {
  font-size: 17px;
  font-weight: 700;
  margin-left: 15px;
  padding: 4px 8px;
  border-radius: 6px;
  line-height: 1;
}

[href][rel='tag']:hover {
  color: var(--action-color);
  background: var(--yellow);
  animation: small-jiggle 0.6s linear alternate;
}

a[rel='tag']:last-child {
  margin-right: 0;
}

[type=submit] {
  display: inline-flex;
  justify-content: center;
  padding: 10px; 
  background: var(--hot-pink);
  border-radius: var(--radius);
}

/* Universal SVG */
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Wells */
.well {
  display: grid;
  margin: 100px 0;
  padding: 30px 40px;
  border-radius: 16px;
  text-align: center;
  color: var(--light-text-color);
  border: 2px solid hsl(253, 20%, 95%);
}

.well-title {
  display: inline-flex;
  margin-top: calc(-30px - 1.1em);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: white; 
  padding: .4em 1em;
  font-family: 'TT Commons', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .125em;
  text-indent: .0625em;
  font-weight: 700;
  font-size: 15px;
}

.well-list {
  margin: 0;
}

/* Previous engagements */
.previous-engagements .well-list {
  display: grid; 
  grid-template-columns: repeat(auto-fit,  minmax(180px,  1fr)); 
  grid-gap: 40px; 
  align-items: center; 
  justify-items: center; 
  list-style: none; 
  padding: 0; 
}

/* Article tags */
.article-tags {
  padding: 30px 40px 10px;
}

.article-tags .well-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

.article-tags .well-item {
  margin: 0 10px 20px 10px;
}

pre,
code {
  font-family: 'iA Writer Duospace', monospace;
}

p code {
  font-size: .75em;
  color: hsl(154, 100%, 30%);
  background: hsl(144, 50%, 92.5%);
  padding: .1em .35em;
  border-radius: 6px;
}

@keyframes squiggle {
  0%   { background-position:    0 0; }
  100% { background-position: 25px 0; }
}

@keyframes menu-jiggle {
  25% { transform: scale(0.475, 0.525); }
  50% { transform: scale(0.525, 0.475); }
  75% { transform: scale(0.45, 0.505);  }
}

@keyframes small-jiggle {
  25% { transform: scale(0.975, 1.025); }
  50% { transform: scale(1.025, 0.975); }
  75% { transform: scale(0.95, 1.05);  }
}

@keyframes jiggle {
  25% { transform: scale(0.925, 1.075); }
  50% { transform: scale(1.075, 0.925); }
  75% { transform: scale(0.95,  1.05);  }
}

main + footer {
  margin-top: 100px;
}

.smallcaps {
  font-family: 'TT Commons', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: var(--light-tex-color);
  text-transform: uppercase;
  letter-spacing: .125em;
  text-indent: .0625em;
  font-weight: 700;
  font-size: 15px;
}

.smallcaps em {
  font-style: normal;
  color: var(--primary-text-color);
  background: hsl(225, 20%, 92.5%);
  border-radius: 6px;
  padding: 3px 5px 2px calc(5px + .125em);
}