:root {
  --white: #FDFDFE;
  --silver: hsl(246, 100%, 75%);
  --normal-link: var(--primary-color);
  --active-link: var(--secondary-color);
  --text: hsl(258, 60%, 20%);
  --heading: var(--primary-color);
  --viewport-padding: 16px;

  --magenta: hsl(280, 96%, 61%);
  --violet: hsl(256, 95%, 63%);
  --yellow: hsl(55, 90%, 60%);

  --radius: 6px;
  --transition: cubic-bezier(0.190, 1.000, 0.220, 1.000);

  --sidebar: 70px;
  --logo: 40px;

  --primary-color: hsl(256, 95%, 63%);
  --secondary-color: hsl(330, 100%, 60%);
}

::selection {
  background-color: var(--secondary-color);
  color: white;
}

*,
*:after,
*:before {
  margin-top: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
 background: white url("data:image/svg+xml,%3Csvg viewBox='0 0 574 521' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cg opacity='.1'%3E%3Cpath d='M111.567-373.475l462.433 462.433-432.042 432.042-462.433-462.433 432.042-432.042z' fill='url(%23a)'/%3E%3Cpath d='M70.957-242.865l462.269 462.269-271.529 271.529-462.269-462.269 271.529-271.529z' fill='url(%23b)'/%3E%3Cpath d='M-13.188-167.719l523.259 523.259-102.531 102.53-523.259-523.259 102.531-102.53z' fill='url(%23c)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='a' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(462.433 462.433 -462.433 462.433 -104.454 -157.454)'%3E%3Cstop offset='0' stop-color='%239185f8' stop-opacity='.3'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(462.269 462.269 -462.269 462.269 -15797.6 15625.7)'%3E%3Cstop offset='0' stop-color='%239185f8' stop-opacity='.698'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(523.259 523.259 -523.259 523.259 -32993.1 32812.2)'%3E%3Cstop offset='0' stop-color='%239185f8'/%3E%3Cstop offset='1' stop-color='%239185f8' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") left top / cover no-repeat fixed;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font: 400 22px/1.5 'TT Commons', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

/* Move dat Netlify button outta the way */
[href*='https://app.netlify.com'] {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Universal links */
[href],
[href]:visited {
  transition: .5s var(--transition);
  text-decoration: none;
  color: var(--primary-color);
}

[href]:hover,
[href]:focus,
[href]:active {
  color: var(--secondary-color);
}

/* Underlined links */
[href].underline,
[href].underline:visited {
  position: relative;
  color: var(--primary-color);
}

[href].underline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, var(--secondary-color), transparent);
  transition: .5s var(--transition);
  transform-origin: 0% 100%;
  transform: scaleX(0);
  opacity: .25;
}
/* 
[href][data-current*='current item'],
[data-current='article'] [href='/articles/'] {
  position: relative;
}

[href][data-current*='current item']:after,
[data-current='article'] [href='/articles/']:after {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  left: calc(50% - 1.5em);
  top: calc(50% - 1.5em);
  opacity: .1;
  box-shadow: 0 0 0 3em inset;
  border-radius: 50%;
  z-index: -1;
} */

[href].underline:hover,
[href].underline:focus,
[href].underline:active,
[href].underline[data-current*='current item'],
[data-current='article'] [href].underline[href='/articles/'] {
  color: var(--secondary-color);
}


[href].underline:hover:after,
[href].underline:focus:after,
[href].underline:active:after,
[href].underline[data-current*='current item']:after,
[data-current='article'] [href].underline[href='/articles/']:after {
  opacity: .75;
  transform: scaleX(1);
}

hr.squiggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%238C80ff' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  display: block;
  border: none;
  width: 50%;
  height: 5px;
  margin: 96px auto;
  background-size: 25px 5px;
  background-position: 0 0;
  opacity: .5;
  animation: squiggle 2s linear infinite;
}

/* Currently active link item */
[href][data-current='current item'],
[data-current='article'] [href='/articles/'] {
  color: var(--secondary-color);
}

/* Jiggly links */
.jiggle {
  display: inline-flex;
}

.jiggle[href]:hover,
.jiggle[href]:focus,
.jiggle[href]:active {
  animation: jiggle 0.6s linear alternate;
}

.chevron:after {
  content: '';
  width: .5em;
  height: .5em;
  display: inline-flex;
  border: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translate(.65em, .5em);
  margin-right: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ten Oldstyle', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.25;
  color: var(--primary-color);
  margin-bottom: 16px;
  letter-spacing: -.01em;
  word-spacing: .02em;
}

h1:first-child {
  margin-bottom: 48px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 48px;
}

/* 
|=====================================
| Headings
|-------------------------------------
*/

/* 1.125 modular scale - https://www.modularscale.com/?22&&1.125 */
h1 {
  font-size: 2.027em;
}

h2 {
  font-size: 1.802em;
}

h3 {
  font-size: 1.602em;
}

h4 {
  font-size: 1.424em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

@media (min-width: 800px) {
  body {
    padding: calc(var(--sidebar) * 2) var(--sidebar) 0 var(--sidebar);
  }
}

main {
  flex: 1;
  width: 100%;
}

body > footer {
  font-size: 13px;
  text-align: center;
  padding: 0 calc(var(--viewport-padding) * 2) var(--viewport-padding) var(--viewport-padding);
}

/* 
|==========================================================================
| Mobile menu
|-------------------------------------------------------------------------- 
*/

.screenreader-only {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.logo {
  position: fixed;
  left: calc(var(--sidebar) / 2 - var(--logo) / 2);
  top: calc(var(--viewport-padding) - 3px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--logo);
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0deg);
  transform-origin: 50%;
  transition: .5s var(--transition);
  z-index: 2;
}

.logo svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.logo:hover,
.logo:focus,
.logo:active {
  transform: rotate(22.5deg);
}

.menu-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% + 70px);
  padding: calc(var(--viewport-padding) * 1.5) 70px calc(var(--viewport-padding) * 1.5) 140px;
  z-index: 1;
  border-radius: 40px 0 0 40px;
  background: hsla(242, 91%, 96%, .96);
  transition: .5s var(--transition);
  transform: translate3d(100%, 0, 0);
}

.menu-open .menu-nav {
  transform: translate3d(0, 0, 0);
}

.menu-nav > [href] {
  line-height: 1;
  font-size: 18px;
  padding: 1px 16px 0 16px;
  position: relative;
}

.menu-nav>[href]:not(:last-child):after {
  content: '';
  position: absolute;
  right: -2px;
  top: calc(50% - 2px);
  width: 4px;
  height: 4px;
  display: block;
  background: hsl(256, 95%, 87.5%);
  border-radius: 50%;
}

.menu-button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: var(--viewport-padding);
  right: calc(var(--sidebar)/ 2 - 20px);
  width: 40px;
  height: 32px;
  transform: scale(.5);
  transition: .2s color;
  color: var(--primary-color);
  z-index: 2;
}

.menu-button:hover {
  animation: menu-jiggle 0.6s linear alternate;
}

.menu-button:hover,
.menu-button:focus {
  color: var(--secondary-color);
}

.menu-button:before,
.menu-button span,
.menu-button:after {
  height: 6px;
  background: currentColor;
  border-radius: 16px;
}

.menu-button:before {
  content: '';
  width: 40px;
  transition: .2s background;
}

.menu-button span {
  width: 80%;
  transform: translate3d(25%, 0, 0);
  transition: 
    .2s background,
    .2s .2s transform;
}

.menu-button:after {
  content: '';
  width: 60%;
  transform: translate3d(65%, 0, 0);
  transition: 
    .2s background,
    .2s .4s transform;
}

.menu-open .menu-button span,
.menu-open .menu-button:after {
  transform: translate3d(0, 0, 0);
}

main {
  transition: .5s var(--transition);
}
/* 
body:not(.menu-open) .menu-nav a {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
} */

.social-nav {
  position: fixed;
  left: calc(var(--sidebar) / 2 - 20px);
  bottom: var(--viewport-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  z-index: 1;
}

.social-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-nav a,
.social-nav a:visited {
  color: var(--primary-color);
}

.social-nav a:hover,
.social-nav a:focus,
.social-nav a:active {
  color: var(--secondary-color);
}

@media (max-width: 800px) {
  .social-nav {
    display: none;
  }

  body > footer {
    text-align: left;
  }
}

[href].quick-contact {
  position: fixed;
  bottom: -35px;
  right: 15px;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 40px;
  transition: .5s var(--transition);
  z-index: 2;
}

[href].quick-contact:hover,
[href].quick-contact:focus,
[href].quick-contact:active {
  transform: translate3d(0, -35px, 0);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 165px;
  height: 32px;
  right: 4px;
  padding: 1px 18px 0 18px;
  color: #fff;
  border-radius: 50px;
  background: var(--primary-color);
  transform: rotate(-90deg) translate(-14px, 8px);
  transform-origin: left top;
  transition: .5s var(--transition);
}

.contact-info:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 36px;
  left: 5px;
  bottom: -10px;
  transform: rotate(90deg);
  background: inherit;
  border-radius: 0 0 20px 0;
  z-index: -1;
}

.duotone {
  position: relative;
  margin: 0;
  vertical-align: bottom;
}

.duotone-purple {
  opacity: 1;
  transition: .5s var(--transition) opacity;
}

.duotone-pink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s var(--transition) opacity;
}

.quick-contact:hover .duotone-purple,
.quick-contact:focus .duotone-purple,
.quick-contact:active .duotone-purple {
  opacity: 0;
}

.quick-contact:hover .duotone-pink,
.quick-contact:focus .duotone-pink,
.quick-contact:active .duotone-pink {
  opacity: 1;
}

.quick-contact:hover .contact-info,
.quick-contact:focus .contact-info,
.quick-contact:active .contact-info {
  background: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media (max-width: 800px) {

  .quick-contact {
    display: none;
    right: calc(50% - 50px);
  }
}

.excerpt {
  display: flex;
  height: 100%;
}

.keep-reading {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.keep-reading h2 {
  font-size: 1.8em;
}

.keep-reading div {
  transform: translateZ(0) scale(1);
  transition: .6s var(--transition);
}

.keep-reading time {
  color: var(--heading);
}

.keep-reading p {
  color: var(--text);
  margin-bottom: 24px;
}

.keep-reading:hover div,
.keep-reading:focus div,
.keep-reading:active div {
  color: rgba(44, 74, 87, .25);
  opacity: .15;
  transform: translateZ(0) scale(.8);
}

.keep-reading:after {
  content: 'Keep\00a0reading\00a0\00a0\2192';
  position: absolute;
  opacity: 0;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 22px 13px;
  border-radius: 48px;
  font-weight: 700;
  letter-spacing: .1em;
  text-indent: .1em;
  color: white;
  background: var(--secondary-color);
  font-weight: 700;
  transform: translate3d(-50%, -50%, 0) scale(.25);
  transition: .6s var(--transition);
  transform-origin: center center;
  left: 50%;
  top: 50%;
}

.keep-reading:hover:after,
.keep-reading:focus:after,
.keep-reading:active:after {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

[data-current='about'] article,
[data-current='article'] article,
[data-current='articles'] article,
[data-current='projects'] article,
[data-current='services'] article {
  width: 100%;
  max-width: 720px;
  justify-self: center;
  margin: 0 auto;
}

.button {
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 1.4em 1.8em 1em 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  margin-right: 8px;
  background: var(--primary-color);
}

.button:focus,
.button:hover,
.button:active,
.button:visited {
  color: white;
}

article footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

article footer span {
  width: 100%;
  font-size: 16px;
  margin-top: 48px;
  text-align: center;
  font-style: italic;
  color: hsl(258, 20%, 50%);
}

/* Articles list */
[data-current='articles'] main {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,  1fr));
  gap: 90px;
  align-content: start;
  justify-items: center;
  margin: 0 auto;
  flex: 1;
}

/* Timestamps */
[data-current='articles'] time {
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .125em;
  text-indent: .0625em;
  margin-bottom: auto;
}

/* Tag links */
[href][rel='tag'],
[href][rel='tag']:visited {
  color: white;
}

[href][rel='tag']:hover,
[href][rel='tag']:focus,
[href][rel='tag']:active {
  background: var(--secondary-color);
}

[href][rel='tag'] {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 1.4em 1.8em 1em 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  margin-right: 8px;
  background: var(--primary-color);
}

a[rel='tag'] svg {
  height: 16px;
  width: auto;
  margin-top: -.5em;
  margin-right: 1em;
  opacity: .4;
}

a[rel='tag']:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: inherit;
}

input,
textarea {
  border: 0;
  padding: .5em .75em;
  background: var(--text);
  border-radius: var(--radius);
}

textarea {
  height: 200px;
}

button {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

[type=submit] {
  display: inline-flex;
  justify-content: center;
  padding: 10px; 
  background: var(--hot-pink);
  border-radius: var(--radius);
}

svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.logo-cloud {
  display: flex;
  flex-direction: column;
  margin: 40px -40px;
  border: 1px solid hsl(246, 100%, 90%);
  padding: 20px;
  border-radius: 12px;
}

.logo-cloud ul,
.logo-cloud li {
  margin: 0;
}

.logo-cloud ul {
  display: grid; 
  grid-template-columns: repeat(auto-fit,  minmax(180px,  1fr)); 
  grid-gap: 30px; 
  align-items: center; 
  justify-items: center; 
  list-style: none; 
  padding: 0; 
}

p code {
  font-size: .8em;
  padding: .2em .4em;
  border-radius: 6px;
  background: hsl(244, 90%, 96%);
}

@keyframes squiggle {
  0%   { background-position:    0 0; }
  100% { background-position: 25px 0; }
}

@keyframes menu-jiggle {
  25% { transform: scale(0.475, 0.525); }
  50% { transform: scale(0.525, 0.475); }
  75% { transform: scale(0.45, 0.505);  }
}

@keyframes jiggle {
  25% { transform: scale(0.925, 1.075); }
  50% { transform: scale(1.075, 0.925); }
  75% { transform: scale(0.95,  1.05);  }
}