<section class="articles-list">
  {% for article in articleslist | reverse %}
    <a class="excerpt" href="{{ article.url | url }}" {% if article.url == url %} data-current="current item" {% endif %}>
      <article>
        <h2>
          {% if article.data.title %}
            {{ article.data.title }}
          {% else %}
            Untitled
          {% endif %}
        </h2>
        {% if article.data.summary %}
          <p>
            {{ article.data.summary }}
          </p>
        {% endif %}
        <time datetime="{{ article.date | machineDate }}">{{ article.date | readableDate }}</time>
      </article>
    </a>
  {% endfor %}
</section>