---js
{
  currentDate: function() {
    return (new Date()).toLocaleString();
  }
}
---

<footer>
  <a class="quick-contact" href="mailto:hello@kylefoster.design">
    <img src="/static/img/duotone.png" class="duotone" alt="Kyle looking up at all this amazing content">
  </a>
  <span class="contact-info" aria-hidden>hello@kylefoster.design</span>
  &copy;&nbsp;{{ currentDate() }}&nbsp;Kyle Foster. All wrongs reversed.
  <script>
    {% include "assets/js/prism.js" %}
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-27758132-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</footer>
