<a href="{{ '/' | url }}" class="logo">
  <svg viewBox="0 0 991 858" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
    <path d="M229.376 199.013l380.251 658.615h-229.517l-379.686-658.615h228.952z" fill="url(#a)" />
    <path d="M495.152 658.86l380.251-658.615 114.759 198.768-380.535 658.125-114.475-198.278z" fill="url(#b)" />
    <path d="M760.503 198.768h-760.503l114.759-198.768 760.22.49-114.476 198.278z" fill="url(#c)" />
    <defs>
      <linearGradient id="a" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(380.341 658.615 -658.615 380.341 229.286 199.013)">
        <stop offset="0" stop-color="#650DF2" />
        {# <stop offset=".4" stop-color="#1DD0C9" /> #}
        <stop offset="1" stop-color="#9186f9" />
      </linearGradient>
      <linearGradient id="b" xlink:href="#a" gradientTransform="matrix(380.207 -658.692 658.692 380.207 495.196 658.937)" />
      <linearGradient id="c" xlink:href="#a" gradientTransform="matrix(-760.548 .078 -.078 -760.548 760.548 198.69)" />	</defs>
  </svg>
</a>
<button class="menu-toggle" aria-expanded="false">
  <span class="screenreader-only">Open main menu</span>
  <svg class="{{classnames}}" viewBox="0 0 38 31" fill="currentColor">
    <path d="M10.5 6h23.925c1.65 0 3-1.35 3-3s-1.35-3-3-3h-23.925c-1.65 0-3 1.35-3 3s1.35 3 3 3zM34.35 24.9h-23.85c-1.65 0-3 1.35-3 3s1.35 3 3 3h23.925c1.65 0 3-1.35 3-3s-1.425-3-3.075-3zM34.35 12.45h-31.35c-1.65 0-3 1.35-3 3s1.35 3 3 3h31.425c1.65 0 3-1.35 3-3s-1.425-3-3.075-3z" />
  </svg>    
</button>
<nav class="main-menu">
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <a class="underline" href="{{ nav.url | url }}" {% if nav.url == page.url %} data-current="current item" tabindex="-1" {% endif %}>{{ nav.data.navtitle }}</a>
  {%- endfor -%}
</nav>