---
layout: layouts/base.njk
section: articles
permalink: /articles/index.html
---

{{ layoutContent | safe }}

{% set articleslist = collections.articles %}
{% include "components/articleslist.njk" %}
