--- 
layout: layouts/base.njk 
section: article 
---

<article class="full-page-article">
  <header>
    <h1>{{ title | safe }}</h1>
    <span class="date">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>{{ update + "&bull; Updated on " + update if update }}
    </span>
  </header>
  {{ layoutContent | safe }}
  <footer>
    <section class="well article-tags">
      {% if tags %}
        <h2 class="well-title">Article tags</h2>
        <ul class="well-list">
          {% for tag in tags %}
            {%- if tag != "article" -%}
              {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
              <li class="well-item">
                <a href="{{ tagUrl }}" rel="tag">
                  {{ tag }}
                </a>
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    {# <div id="commento"></div>
    <script 
      defer 
      async
      data-no-fonts="true"
      src="/static/js/commento.js"
    ></script> #}
  </footer>
</article>