--- 
layout: layouts/base.njk 
section: article 
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <span>Published on
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>{{ update + "&bull; Updated on " + update if update }}
    </span>
  </header>
  {{ layoutContent | safe }}
  <footer class="article-tags">
    {% if tags %}
      <strong>Article categories</strong>
      <ul>
        {% for tag in tags %}
          {%- if tag != "article" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li>
              <a href="{{ tagUrl | url }}" rel="tag">
                {{ tag }}
              </a>
            </li>
          {%- endif -%}
        {% endfor %}
      </ul>
    {% endif %}
    {# <div id="commento"></div> #}
    {# <script data-no-fonts="true" src="https://cdn.commento.io/js/commento.js"></script> #}
  </footer>
</article>