---js
{
  currentDate: function() {
    return (new Date().getFullYear());
  }
}
---

<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>

    <header class="main-header" role="banner">
      {% include "components/nav.njk" %}
    </header>

    <main>
      {{ layoutContent | safe }}
    </main>

    <footer>
      {# {% include "components/social-nav.njk" %} #}
      
      {# <a class="quick-contact" href="mailto:hello@kylefoster.design">
        <span class="contact-info" aria-hidden>hello@kylefoster.design</span>
        <figure class="duotone">
          <img class="duotone-purple" src="/static/img/duotone-purple.png" alt="Kyle looking up at all this amazing content">
          <img class="duotone-pink" src="/static/img/duotone-pink.png" aria-hidden>
        </figure>
      </a> #}
      &copy;&nbsp;{{ currentDate() }}&nbsp;Kyle Foster. All rights reserved.
      <script>
        {% include "assets/js/prism.js" %}
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-27758132-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
    </footer>

  </body>

</html>